:root {
    --primary: #030035;
  
    --gold: #fde8b3;
    --gold-light: #fdeb95;
    --gold-medium: #deb747;
    --gold-dark: #b27c2b;
  
    --white: #ffffff;
    --black: #000000;
    --gray: #6b7280;
  }